.next
node_modules
.env
.env.docker
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
coverage
*.log
.tmp
public/uploads
tsconfig.tsbuildinfo
.DS_Store
.vscode
.idea
src/generated/prisma
